.pokemonFrame {
  border: 0.5rem double #000000;
  text-align: center;
  height: 92%;
  width: 92%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.pokemonName {
  font-weight: bold;
  font-size: 22px;
}

.contentBox {
  padding: 1rem;
  text-decoration: none;
}
